<h2>ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <ul>
   <li>
    <p class="mandatory">必須</p>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"メールアドレス", class:"user_input_form" %>
   </li>

   <li>
    <p class="mandatory">必須</p>
    <%= f.password_field :password, autocomplete: "current-password", placeholder:"パスワード", class:"user_input_form" %>
   </li>
  </ul>
  
  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
