<!DOCTYPE html>
<html>
  <head>
    <title>Task20216</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header>
    <a href="http://localhost:3000/"><img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png"></a>
    
    <div class="areaaicon">
      <%= search_form_for @q, url: rooms_search, local: true do |f| %>
        <%= f.search_field :area, :placeholder => "エリア", size:'30x10' %>
      <% end %>
    </div>

    <div class="keywordaicon">
      <%= search_form_for @q, url: rooms_search, local: true do |f| %>
        <%= f.search_field :keyword, :placeholder => "キーワード" %>
      <% end %>
     </div>
  
    <% if user_signed_in? %>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#"><%= link_to "ルーム登録", :new_room %></a></li>
        <li><a class="dropdown-item" href="#"><%= link_to "登録済みルーム一覧", :rooms %></a></li>
        <li><a class="dropdown-item" href="#"><%= link_to "設定", user_path(current_user.id) %></a></li>
        <li><a class="dropdown-item" href="#"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></a></li>
      </ul>
    <% else %>

      <%= link_to('ログイン', new_user_session_path) %>
      <%= link_to('登録', new_user_registration_path) %>
    <% end %>
   </header>
    <%= yield %>
  </body>
</html>
