<!DOCTYPE html>
<html>
  <head>
    <title>Task20216</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header>
    <img scr="https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png"
   </header>
    <%= yield %>
  </body>
</html>
